@font-face {
    font-family: "Inter", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
}

:root {
    --primary: #1f252e;
    --primary-plus-10: #303a48;
    --primary-plus-20: #404d5f;
    --primary-plus-30: #4e5d74;
    --primary-minus-10: #1c2129;
    --primary-minus-20: #191e25;
    --background: #15191e;
    --shadow: 0px 4px 11px rgba(0, 0, 0, 0.12);

    --accent-pink: #ff00dc;
    --accent-pink-dark: #d50099;

    --accent-blue: #00cfe7;
    --accent-blue-dark: #1babeb;

    --text-colour: rgba(255, 255, 255, 0.85);
    --text-colour-muted: rgba(255, 255, 255, 0.5);

    --shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

    --red: #cc1e42;
    --blue: #00c2ff;
    --yellow: #f9a104;
    --green: #0bee7c;
}

/* DEFAULTS */

* {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    color: var(--text-colour);
    box-sizing: border-box;
    font-family: "Inter";
    font-size: 14px;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-plus-20) var(--primary);
}

body {
    background-color: var(--primary-plus-10);
    display: flex;
    flex-direction: column;
    min-width: 500px;
    width: max-content;
    overflow-x: hidden;
    /* required or else windwo.confirm is cutoff */
    min-height: 160px; 
}

hr {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, var(--accent-blue), var(--accent-pink));
}

/* ROW */

.popup-row {
    padding: 4px 12px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
    cursor: text;
}
.popup-row:hover {
    background-color: var(--primary-plus-20);
}

/* ROW CONTENT */

.popup-row__options {
    display: flex;
    align-items: center;
    gap: 4px;
}

.popup-row__value {
    font-weight: bold;
    text-align: center;
    min-width: 8px;
}
.popup-row__value--hidden {
    color: var(--text-colour-muted);
}

.popup-row__button {
    background: var(--primary-plus-20);
    display: flex;
    align-items: center;
    padding: 4px;
    justify-content: center;
    box-shadow: var(--shadow);
    cursor: pointer;
}
.popup-row__button:hover {
    filter: brightness(1.3);
}
